{% load custom_tags %}
<table id="finding-{{ finding.id }}" scoring-type="DREAD" class="finding" finding-severity="{{ finding.severity }}">
    <tr class='finding-header'>
        <td class='finding-severity background-color-severity'>
            {{ finding.score }}
            <br />
            {{ finding.severity }}
        </td>
        <td class='finding-title'>
            [{{ finding.number }}] {{ finding.name }}
        </td>
    </tr>
    <tr class='finding-content'>
        <td class='finding-content-header'>
            Category
        </td>
        <td class='finding-content-body' style='font-weight: bold'>
            {{ finding.categoryFull }}
        </td>
    </tr>
    {% if finding.affectedResources %}
        <tr class='finding-content'>
            <td class='finding-content-header'>
                Affected Resources
            </td>
            <td class='finding-content-body'>
                {% markdown finding.affectedResources %}
            </td>
        </tr>
    {% endif %}
    {% if finding.dreadImpact %}
        <tr class='finding-content'>
            <td class='finding-content-header'>
                Impact
            </td>
            <td class='finding-content-body dread-impact'>
                <ul>
                    {% for i in finding.impact %}
                        <li>{{ i }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endif %}
    {% if finding.description %}
        <tr class='finding-content'>
            <td class='finding-content-header'>
                Description
            </td>
            <td class='finding-content-body'>
                {% markdown finding.description %}
            </td>
        </tr>
    {% endif %}
    {% if finding.background %}
        <tr class='finding-content'>
            <td class='finding-content-header'>
                Background
            </td>
            <td class='finding-content-body'>
                {% markdown finding.background %}
            </td>
        </tr>
    {% endif %}
    {% if finding.descDamage %}
        <tr class='finding-content'>
            <td class='finding-content-header avoid-split'>
                <p>Damage</p>
                <p>{{ finding.dread.dict.dreadDamage }}:</p>
            </td>
            <td class='finding-content-body'>
                {% markdown finding.descDamage %}
            </td>
        </tr>
    {% endif %}
    {% if finding.descReproducibility %}
        <tr class='finding-content'>
            <td class='finding-content-header avoid-split'>
                <p>Reproducibility</p>
                <p>{{ finding.dread.dict.dreadReproducibility }}:</p>
            </td>
            <td class='finding-content-body'>
                {% markdown finding.descReproducibility %}
            </td>
        </tr>
    {% endif %}
    {% if finding.descExploitability %}
        <tr class='finding-content'>
            <td class='finding-content-header avoid-split'>
                <p>Exploitability</p>
                <p>{{ finding.dread.dict.dreadExploitability }}:</p>
            </td>
            <td class='finding-content-body'>
                {% markdown finding.descExploitability %}
            </td>
        </tr>
    {% endif %}
    {% if finding.descAffectedUsers %}
        <tr class='finding-content'>
            <td class='finding-content-header avoid-split'>
                <p>Affected Users</p>
                <p>{{ finding.dread.dict.dreadAffectedUsers }}:</p>
            </td>
            <td class='finding-content-body'>
                {% markdown finding.descAffectedUsers %}
            </td>
        </tr>
    {% endif %}
    {% if finding.descDiscoverability %}
        <tr class='finding-content'>
            <td class='finding-content-header avoid-split'>
                <p>Discoverability</p>
                <p>{{ finding.dread.dict.dreadDiscoverability }}:</p>
            </td>
            <td class='finding-content-body'>
                {% markdown finding.descDiscoverability %}
            </td>
        </tr>
    {% endif %}
        <tr class='finding-content'>
            <td class='finding-content-header'>
                Score
            </td>
            <td class='finding-content-body dread-category bold'>(
                D:{{ finding.dread.dict.dreadDamage }} + 
                R:{{ finding.dread.dict.dreadReproducibility }} + 
                E:{{ finding.dread.dict.dreadExploitability }} + 
                A:{{ finding.dread.dict.dreadAffectedUsers }} + 
                D:{{ finding.dread.dict.dreadDiscoverability }}
                ) / 5 = {{ finding.score }} ({{ finding.severity }}) </td>
        </tr>
    {% if finding.remediation %}
        <tr class='finding-content'>
            <td class='finding-content-header'>
                Remediation
            </td>
            <td class='finding-content-body'>
                {% markdown finding.remediation %}
            </td>
        </tr>
    {% endif %}
    {% if finding.references %}
        <tr class='finding-content'>
            <td class='finding-content-header'>
                References
            </td>
            <td class='finding-content-body'>
                {% markdown finding.references %}
            </td>
        </tr>
    {% endif %}
</table>
{% for figure in finding.figures_ending %}
  {% include 'reportTemplates/figure.html' with figure=figure %}
{% endfor %}
