<section class="l{{ level }} component part{% if pageBreakBefore %} page-break{% endif %}" id="tot">
{% include 'componentTemplates/Heading.html' %}

  <div id="table-of-tables">
    <ul class="tot-list">
      {% for component in tot_components %}
        <a href='#component_{{ component.id }}'>
          <li class="tot-entry">
            <span class="tot-item">
                <span class="tot-header">
                    Table <span class="tot-counter" target-component='#caption_{{ component.id }}'></span>. 
                </span>
                {{ component.caption }}
            </span>
            <span class="tot-dots"></span>
            <span class="toc-pagenumber" target-component='#component_{{ component.id }}'></span>
          </li>
        </a>
      {% endfor %}
    </ul>
  </div>
</section>

