{% extends 'layouts/base.html' %}

{% block title %}{{ engagement.name }}{% endblock %}

{% block headerLeft %}
  {% include 'snippets/breadcrumbs.html' with current=engagement %}
{% endblock %}

{% block headerRight %}
  {% include 'snippets/textButton.html' with name='Edit Engagement' id='engagementEdit' type='pen' class='btn-info' %}
  {% include 'snippets/textButton.html' with name='Delete' id='engagementDelete' type='times' class='btn-danger' %}
{% endblock %}

{% block fullPane %}
  {% include 'panes/engagementReportsList.html' %}
  <br>
  <div id='groupListPane'>
    {% include 'panes/findingGroupList.html' %}
 </div>
{% endblock %}

{% block footer %}
  <!-- Hidden engagement div for storing engagement Name, UUID, etc. -->
  <span id="engagement-info" engagement-name="{{ engagement.name }}" engagement-id="{{ engagement.id }}" customer-id="{{ engagement.customerID }}" style="display: none;"></span>
  <span id="page-info" page-name="{{ engagement.pageTemplate.name }}" page-id="{{ engagement.pageTemplateID }}" style="display: none;"></span>
  <script src="/static/js/engagementEdit.js"></script>
  <script src="/static/js/customers.js"></script>
  <script src="/static/js/reports.js"></script>
  <script src="/static/js/findings.js"></script>
{% endblock %}