{% extends 'layouts/base.html' %}

{% block title %}Edit Engagement Finding{% endblock %}

{% block headerLeft %}
  {% include 'snippets/breadcrumbs.html' with current=finding %}
{% endblock %}

{% block headerRight %}
  {% include 'snippets/riskBadge.html' with scoringType=finding.fgroup.scoringType %}
  {% include 'snippets/dropdownButton.html' with name='Figures' id='manageFigures' contentID='manageFiguresContent' type='images' class='btn-light border border-primary'%}
  {% include 'snippets/textButton.html' with name='Save to Template' id='findingExport' type='copy' class='btn-light border border-warning' %}
  {% include 'snippets/textButton.html' with name='Save' id='findingSave' type='save' class='btn-success' %}
  {% include 'snippets/textButton.html' with name='Delete' id='findingDelete' type='times' class='btn-danger' %}
{% endblock %}

{% block fullPane %}
  {% include 'panes/engagementFindingEdit.html' %}
{% endblock %}

{% block footer %}
  <!-- Hidden finding div for storing Finding Name, UUID, etc. -->
  <span id="finding-info" finding-name="{{ finding.name }}" finding-id="{{ finding.id }}" category-id="{{ finding.categoryID }}" style="display: none;"></span>
  <span id="engagement-info" engagement-id="{{ finding.fgroup.engagementParent }}" style="display: none;"></span>
  <span id="timestamp-check" object-id="{{ finding.id }}" hint="engagement finding" button="findingSave"></span>
  <span id="fgroup-info" fgroup-type="{{ finding.fgroup.scoringType }}" fgroup-name="{{ finding.fgroup.name }}" fgroup-id="{{ finding.fgroup.id }}" style="display: none;"></span>
  <script src='/static/js/findingEdit.js'></script>
  <script src='/static/js/findingsBrowse.js'></script>
{% endblock %}
