{% extends 'layouts/modal.html' %}

{% block title %}Import Finding Template{% endblock %}

{% block body %}
  <table class="writehat-form">
    {{ findingImportForm.as_table }}
    <tr>
      <th>
      </th>
      <td>
      </td>
    </tr>
  </table>
{% endblock %}

{% block footer %}
  {% include 'snippets/textButton.html' with name='Import Finding' id='loadImportedForm' type='file-import' class='btn-light border border-warning' %}
  {% include 'snippets/textButton.html' with name='Manual Entry' id='loadBlankForm' type='file-signature' class='btn-light border border-dark' %}
{% endblock %}