{% extends 'layouts/modal.html' %}

{% block title %}Add Link/Reference{% endblock %}

{% block body %}
  {% include 'snippets/textButton.html' with name='Report Component (Section)' id='componentReferenceSelect' type='file' class='btn-primary' %}
  <br>
  {% include 'snippets/textButton.html' with name='Finding' id='findingReferenceSelect' type='search' class='btn-warning' %}
  <br>
  <div class="userTemplateInsertButton">customer.name</div>
  <div class="userTemplateInsertButton">customer.shortName</div>
  <div class="userTemplateInsertButton">customer.domain</div>
  <div class="userTemplateInsertButton">customer.website</div>
  <div class="userTemplateInsertButton">customer.address</div>
  <div class="userTemplateInsertButton">customer.email</div>
  <div class="userTemplateInsertButton">customer.POC</div>
  <div class="userTemplateInsertButton">customer.phone</div>
  <div class="userTemplateInsertButton">report.name</div>
  <div class="userTemplateInsertButton">engagement.name</div>
  <div class="userTemplateInsertButton">findings.totalCount</div>
  <div class="userTemplateInsertButton">findings.informationalCount</div>
  <div class="userTemplateInsertButton">findings.lowCount</div>
  <div class="userTemplateInsertButton">findings.mediumCount</div>
  <div class="userTemplateInsertButton">findings.highCount</div>
  <div class="userTemplateInsertButton">findings.criticalCount</div>
  <div class="userTemplateInsertButton">findings.cvss.totalCount</div>
  <div class="userTemplateInsertButton">findings.cvss.informationalCount</div>
  <div class="userTemplateInsertButton">findings.cvss.lowCount</div>
  <div class="userTemplateInsertButton">findings.cvss.mediumCount</div>
  <div class="userTemplateInsertButton">findings.cvss.highCount</div>
  <div class="userTemplateInsertButton">findings.cvss.criticalCount</div>
  <div class="userTemplateInsertButton">findings.dread.totalCount</div>
  <div class="userTemplateInsertButton">findings.dread.informationalCount</div>
  <div class="userTemplateInsertButton">findings.dread.lowCount</div>
  <div class="userTemplateInsertButton">findings.dread.mediumCount</div>
  <div class="userTemplateInsertButton">findings.dread.highCount</div>
  <div class="userTemplateInsertButton">findings.dread.criticalCount</div>
  <div class="userTemplateInsertButton">findings.proactive.totalCount</div>
  <div class="userTemplateInsertButton">findings.group.id.totalCount</div>
  <div class="userTemplateInsertButton">findings.group.id.informationalCount</div>
  <div class="userTemplateInsertButton">findings.group.id.lowCount</div>
  <div class="userTemplateInsertButton">findings.group.id.mediumCount</div>
  <div class="userTemplateInsertButton">findings.group.id.highCount</div>
  <div class="userTemplateInsertButton">findings.group.id.criticalCount</div>
{% endblock %}
