toml
uwsgi
bleach
markdown
openpyxl
Pygments
selenium
mongo-tools
cryptography
django~=3.1.0
pymongo==3.11
PyMySQL==1.0.2
django-python3_ldap==0.11.4
djangorestframework
coreapi
drf-yasg
drf-yasg[validation]
django-currentuser
drf-nested-routers
