<div class="container ml-0" >
  <div class="row-fluid">
    <select class="selectpicker" name="{{ widget.name }}" id="id_{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %} data-live-search="true" data-width="fit">
      {% for selectRow in selectRows %}
        <option value="{{ selectRow.id }}">{{ selectRow.name }}</option>
      {% endfor %}
    </select>
    {% include 'snippets/smallButton.html' with id='customerAdd' name='New Customer' type='plus' class='btn-light border border-dark customerAddButton' %}
</div>
<script type="text/javascript">
    $().ready( function() {
        let e = $("select#id_customerID.selectpicker")
        e.prop("value", "{{ widget.value }}")
        $(e).selectpicker("refresh")
    })
</script>
