[Unit]
Description=WriteHat
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/opt/writehat
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down

[Install]
WantedBy=multi-user.target
