@import url("/static/css/colors.css");
@import url("/static/css/report/list.css");
@import url("/static/css/report/table.css");
@import url("/static/css/report/figure.css");
@import url("/static/css/report/footer.css");
@import url("/static/css/report/header.css");
@import url("/static/css/severity-colors.css");
@import url("/static/css/report/highlight.css");
@import url("/static/css/report/codehilite.css");

.container {
  --page-content-height: calc(var(--pagedjs-pagebox-height) - var(--pagedjs-margin-top) - var(--pagedjs-margin-bottom));
  --page-content-width: calc(var(--pagedjs-pagebox-width) - var(--pagedjs-margin-left) - var(--pagedjs-margin-right));

  width: inherit;
  height: inherit;

  max-width: var(--page-content-width);
  max-height: var(--page-content-height);
}

/* severity legend */
div.severity-legend {
  display: flex;
  margin-top: 1rem;
  margin-left: auto;
  justify-content: center;
  margin: 2em;
}

div.severity-legend div.severity {
  background-color: rgb(var(--severity-rgba));
  line-height: 0;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: .5em;
  margin-right: .5em;
  display: inline-block;
  color: white;
  font-weight: bold;
  height: 2em;
  display: flex;
  align-items: center;
  text-shadow: 0 0 10px rgba(0,0,0,.3);
}


/*  */
h1.toc-member {
  font-weight: bold;
  font-size: 2rem;
}

p, div > ul, div > ol, td {
  line-height: 1.6em;
  overflow-wrap: break-word;
}
