<span>Show only:</span>
<div class="form-check form-check-inline">
  <form id="status-radio" data-toggle="tooltip">
    <div class="btn-group btn-group-toggle" role="group" data-toggle="buttons">
      <label for="inactive" class="btn btn-outline-primary">
        <input type="checkbox" class="btn-check btn-save-state" id="inactive" name="status" value="Inactive" autocomplete="off">Inactive
      </label>
      <label for="active" class="btn btn-outline-primary active">
        <input type="checkbox" class="btn-check btn-save-state" id="active" name="status" value="Active" checked autocomplete="off">Active
      </label>
      <label for="draft" class="btn btn-outline-primary active">
        <input type="checkbox" class="btn-check btn-save-state" id="draft" name="status" value="Draft" checked autocomplete="off">Draft
      </label>
    </div>
  </form>
</div>