<div class="form-check form-check-inline">
  <form id="status-radio">
    <div class="btn-group btn-group-toggle" role="group" data-toggle="buttons">
      <label for="inactive" class="btn btn-outline-primary">
        <input type="checkbox" class="btn-check" id="inactive" name="status" value="inactive" autocomplete="off">Inactive
      </label>
      <label for="active" class="btn btn-outline-primary active">
        <input type="checkbox" class="btn-check" id="active" name="status" value="active" checked autocomplete="off">Active
      </label>
      <label for="draft" class="btn btn-outline-primary">
        <input type="checkbox" class="btn-check" id="draft" name="status" value="draft" autocomplete="off">Draft
      </label>
    </div>
  </form>
</div>