/* Components */

.componentItem {
  color: rgba(255,255,255,.8);
  padding: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid rgba(255,255,255,.3);
}

.componentItem .componentEditControls {
  margin-left: auto;
}

.reportComponent > div.containerDiv {
  margin-top: 4px; 
  width: 100%; 
  border: 1px solid #333; 
  min-height: 2em; 
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75); 
  border-radius: 4px;
}

#availableComponents > div.reportComponent > div.componentEditControls {
  display: none;
}

table.writehat-form .btn-group > button.reviewStatus {
    padding-right: 0px;
    margin-right: 0.5rem;
    border-radius: 4px !important;
    line-height: 1rem;
}

table.writehat-form .btn-group > button.reviewStatus:before {
    height: calc(100% + 2px);
    width: 1.25rem;
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

table.writehat-form .btn-group > button.reviewStatus.active {
    box-shadow: 0px 0px 3px 2px var(--bg) !important;
}

table.writehat-form .btn-group > button.reviewStatus.active:before {
    filter: brightness(1.3);
}

button.reviewStatus[value=""] { --bg: var(--light); filter: brightness(.75); }
button.reviewStatus[value=unassigned] { --bg: var(--light); filter: brightness(.75); }
button.reviewStatus[value=red]        { --bg: var(--danger) }
button.reviewStatus[value=yellow]     { --bg: var(--warning) }
button.reviewStatus[value=green]      { --bg: var(--success) }
button.reviewStatus:before { background-color: var(--bg); }


div.componentEditControls > button.reviewStatus {
    height: 1.25rem;
    width: 1.25rem;
    line-height: .5rem;
    vertical-align: middle;
    border-radius: 4px;
    background-color: var(--bg);
    border: 0;
    margin-right: .5rem;
}

table.writehat-form div.review-status-group {
    width: auto;
    max-width: 32rem;
    display: flex;
    flex-wrap: wrap;
}

table.writehat-form div.review-status-group > button {
    margin-bottom: 0.5rem;
}

.componentItem .container-collapse {
    width: .5rem;
    height: 1rem;
    color: var(--dark);
    text-align: center;
    cursor: pointer;
}

.status-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.status-container > .status-column {
    margin-right: 1rem;
    height: 75vh;
    min-width: 16rem;
    overflow-y: scroll;
    margin-top: 3rem;
    background-color: #111 !important;
    padding-left: .5rem !important;
    padding-right: .25rem !important;
}

.status-container > .status-column:before {
    content: attr(column);
    font-size: 24px;
    font-weight: bold;
    min-width: 16rem;
    position: absolute;
    top: 0;
}

.status-column .component-name {
    overflow: wrap;
    max-width: calc(100% - 4rem);
}

.custom-select#displayToggle {
    width: 100%;
    margin-right: 1rem;
}

#displayToggleLabel {
    line-height: 2rem;
    font-size: 12pt;
    font-weight: bold;
    margin-right: 1rem;
}

span.assignee {
    margin-right: 1rem;
    color: var(--dark);
}
