.finding-severity {
    font-weight: bold;
    color: white;
    font-size: 1.5em;
    padding: 0px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;

    width: 11rem;
    max-width: 11rem;
    min-width: 11rem;
}

.finding {
    --header-text-color: black;
    --stripe-background-color: rgba(128,128,128,.1);

    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;

    border-top: 5px solid var(--severity-color);
    border-spacing: 0;
    border-radius: 5px 5px 0px 0px;
}

/* Make the title for the finding all nice and pretty and stuff */
.finding-title {
    flex-grow: 1;
    font-weight: bold;
    line-height: 3.5rem;
    color: var(--header-text-color);
    background-color: var(--stripe-background-color);
    font-size: 1.5rem;
    text-align: left;
    padding: 1.5rem;
}

.finding-content-header {
    background-color: var(--severity-color-faded);
    min-width: 11rem;
    max-width: 11rem;
    text-align: right;
    padding: 1rem;
    font-weight: bold;
    left: 0;
    bottom: 0;
    top: 0;
    vertical-align: top;
    text-align: right;
}

.finding-content-body {
    padding: 1rem;
    width: 100%;

    /* this max-width settings is magic, I dont know why it works but it does. */
    /* keeps the table from going outside the bounds of the page width */
    max-width: 1px;

    overflow-wrap: break-word;
    vertical-align: top;
    text-align: left;
}

.finding-content:nth-of-type(odd) > .finding-content-body {
    background-color: var(--stripe-background-color);
}

/* this rule forces the last finding-content element and its children to fill the rest of the page */
.finding .finding-content:last-child, .finding-content:last-child td {
    height: 100%;
}

.dread-impact ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.dread-impact ul li {
  padding: 4px;
  border: 1px solid #ddd;
  background-color: rgba(240, 240, 240, 0.2);
  border-radius: 5px;
  margin: 4px;
}
