.finding {
    --header-text-color: black;
    --stripe-background-color: rgba(128,128,128,.1);

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.finding-table {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    border-top: 5px solid var(--severity-color);
    border-spacing: 0;
    border-radius: 5px 5px 0px 0px;
}

.finding-header {
    display: flex;
}

.finding-severity {
    height: 100%;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    padding: 0px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;

    max-width: 11rem;
    min-width: 11rem;
}

.finding-title {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    overflow-wrap: anywhere;
    max-width: calc(var(--page-content-width) - 11rem);
    font-size: 1.5em;
    font-weight: bold;
    color: var(--header-text-color);
    background-color: var(--stripe-background-color);
}

.finding-content {
    --header-width: 11rem;
}

.finding-content-header {
    float: left;
    background-color: var(--severity-color-faded);

    height: 100%;
    min-width: var(--header-width);
    max-width: var(--header-width);
    padding: 1rem;
    vertical-align: top;
    text-align: right;

    font-weight: bold;
}

.finding-content-body {
    padding: 1rem;
    height: 100%;

    width: 100%;
    margin-left: var(--header-width);
    max-width: calc(var(--page-content-width) - var(--header-width));

    overflow-wrap: break-word;
    vertical-align: top;
    text-align: left;
}

.finding-content:last-child .finding-content-body pre:last-child > code[data-split-to] {
    border-radius: .5rem .5rem 0rem 0rem;
}

.finding-content:first-child .finding-content-body pre:first-child > code[data-split-from] {
    border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.finding-content:first-child .finding-content-body pre > code[data-split-from][data-split-to] {
    border-radius: 0;
}

.finding-content:first-child .finding-content-body[data-split-from] pre:first-child,
.finding-content:first-child .finding-content-body[data-split-from]:has(pre:first-child) {
    padding-top: unset;
    margin-top: unset;
}

.finding-content-body > *:last-child,
.finding-content:last-child .finding-content-body {
    padding-bottom: unset;
    margin-bottom: unset;
}

.finding-content:nth-of-type(odd) > .finding-content-body {
    background-color: var(--stripe-background-color);
}

.finding .finding-content:last-child{
    height: 100%;
}

.finding-content li, p {
    break-inside: avoid;
    page-break-inside: avoid;
}

.dread-impact ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.dread-impact ul li {
    padding: 4px;
    border: 1px solid #ddd;
    background-color: rgba(240, 240, 240, 0.2);
    border-radius: 5px;
    margin: 4px;
}

.finding-content-header.category::after { content: "Category" !important; }
.finding-content-header.affected-resources::after { content: "Affected Resources" !important; }
.finding-content-header.description::after { content: "Description" !important; }
.finding-content-header.background::after { content: "Background" !important; }
.finding-content-header.remediation::after { content: "Remediation" !important; }
.finding-content-header.references::after { content: "References" !important; }

/* CVSS SPECIFIC */

.finding-content-header.cvss-vector::after { content: "CVSS 3.1 Vector" !important; }
.finding-content-header.cvss-tools-used::after { content: "Tools Used" !important; }
.finding-content-header.cvss-poc::after { content: "Proof of Concept" !important; }

/* DREAD SPECIFIC */

.finding-content-header .dread-damage::after { content: "Damage" !important; }
.finding-content-header .dread-reproducibility::after { content: "Reproducibility" !important; }
.finding-content-header .dread-exploitability::after { content: "Exploitability" !important; }
.finding-content-header .dread-affected-users::after { content: "Affected Users" !important; }
.finding-content-header .dread-discoverability::after { content: "Discoverability" !important; }
.finding-content-header.dread-impact::after { content: "Impact" !important; }
