<div class="m-0 p-0 container-fluid d-flex">
      <div id="container" style="width: 20%;word-wrap:break-word;" class="border border-primary rounded m-2 p-0 bg-light">
        <div style="text-align:center;word-wrap: break-word;" class="m-2">
          <h5>Engagements Started (Count)</h5>
          <h1 style="font-size:200px;word-wrap: break-word;"></h1>
      </div>
      </div>    
      <div id="container" style="width: 19.2%;word-wrap: break-word;" class="border border-primary rounded m-2 p-0 bg-light">
        <div style="text-align:center;word-wrap: break-word;" class="m-2">
          <h5>Engagements Started (By Name)</h5>
        </div>
        <div style="overflow:scroll;height: 400px;word-wrap: break-word;">
          <ol id="engagement_names">
          </ol>
        </div>
      </div>
      <div id="container" style="width: 40%; height: 25%;word-wrap: break-word;" class="border border-primary rounded m-2 p-0 bg-light">
        <div style="text-align:center;word-wrap: break-word;" class="m-2">
            <h5>Vulnerabilities by Severity</h5>
        </div>
        <canvas id="severity_statistics"></canvas>
      </div>
</div>
<div class="m-0 p-0 container-fluid d-flex">
      <div id="container" style="width: 40%; height: 25%;word-wrap: break-word;" class="border border-primary rounded m-2 p-0 bg-light">
        <div style="text-align:center;word-wrap: break-word;" class="m-2">
            <h5>Vulnerabilities by Category</h5>
        </div>
        <canvas id="category_statistics"></canvas>
      </div>
      <div id="container" style="width: 40%; height: 25%;word-wrap: break-word;" class="border border-primary rounded m-2 p-0 bg-light">
        <div style="text-align:center;word-wrap: break-word;" class="m-2">
            <h5>Vulnerabilities by Requestor</h5>
        </div>
        <canvas id="customer_statistics"></canvas>
      </div>
</div>